$font-cursive           : 'Satisfy', cursive;
$font-default           : 'Ubuntu', sans-serif;

$font-regular-size      : 400;
$font-bold              : 700;

//Colors
$theme-light-blue       :#cfe0f9;
$theme-blue             :#336699;
$theme-darker-blue      :#003366;
$theme-yellow           :#FFCC66;
$theme-yellow-lighter   :#fbd14b;

$theme-highlight-pink   : #b9006e;
$theme-highlight-orange :#f05a28;
$theme-highlight-green  : #63b931;
$theme-highlight-purple : #3a0256;

$main-black             : #0e1111;
$gray                   : #353839;
$main-white             : white;
$transparent            : rgba(255, 255, 255, 0.5);
$background-gray        :#e9e0d6;