@import "../../scss/_variables.scss";

.create-recommendation {
  min-height: 90vh;

  h1 {
    text-align: center;
  }

  .input-row {

    .form-label {
      margin-top: 15px;

      label {
        font-size: 1.3rem;
      }

      label.error {
        color: $theme-highlight-pink;
      }
    }

    p.error {
      color: $theme-highlight-pink;
    }

    select, input[checkbox] {
      display: inherit;

    }

  }
}
